[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
django = "*"
djangorestframework = "*"
djongo = "*"
pymongo = {extras = ["srv"],version = "*"}
jsonfield = "*"
gunicorn = "*"
dronekit = "*"
json = "*"
requests = "*"
requests2 = "*"

[requires]
python_version = "3.7"
